// Buttons
@mixin button-styles ($radius, $color) {
  border-radius: $radius;
  border: 1px solid $color;
  cursor: pointer;
  background-color: #fff;
}

.card-button {
  @include button-styles(0.5rem, $black);
  // .subtitle class를 추가하면 text style 적용
  width: 100%;
  height: 4.5rem;
  background-color: #fff;
  border: none;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
  &:hover {
    color: $primary;
    outline: 0.5rem solid $green-dark-light;
  }
}
.text-button {
  @include button-styles(2rem, $black);
  padding: 0.5rem 1rem 0.5rem 0.75rem;
  height: fit-content;
}
.color-button {
  @include button-styles(2rem, $accent);
  padding: 0.5rem 1rem 0.5rem 0.75rem;
  background-color: $accent;
  color: #fff;
}
.time-button {
  @include button-styles(2rem, $accent);
  padding: 0.5rem 1rem;
  &:hover {
    background-color: $accent;
    color: #fff;
  }
}
.square-basic-button {
  @include button-styles(0.5rem, $black);
  padding: 0.5rem 1rem 0.5rem 0.75rem;
  &:hover {
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  }
}
.square-color-button {
  @include button-styles(0.5rem, $accent);
  padding: 0.5rem 1rem 0.5rem 0.75rem;
  background-color: $accent;
  color: #fff;
  &:hover {
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  }
}

