// Colors
$mint: #1CC09A;
$mintGreen: #C7F0E6;
$darkGreen: #0E634E;
$ashGray: #C0DDCD;

$yellow: #FABE2A;
$orange: #F15D23;
$beige: #ECDCC4;

$darkGray: #A5A5A5;
$gray: #D9D9D9;
$lightGray: #F5F5F5;

// Font Sizes
$font-sm: 0.75rem; // 12px
$font-md: 1rem; // 16px
$font-lg: 1.25rem; // 20px 
$font-xl: 2rem; // 32px

