@use '@angular/material' as mat;
@include mat.core();

@import "../styles/variables";
@import "../styles/globals";
@import "../styles/typography";
@import "../styles/buttons";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  overflow-x: hidden;
}

