@import '../../styles/styles.scss';

.subtitle-wrapper {
  margin: 2rem 0.5rem 1.25rem 0;
  & p {
    margin-left: 0.3rem;
  }
}
.chart-wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 2rem;
  margin-bottom: 3rem;
  .gantt-chart, .doughnut-chart {
    // box-shadow: 0 1rem 1.25rem rgba(0,0,0, 0.1);
    // border-radius: 1rem;
  }
}
.card-wrapper {
  gap: 2rem;
  & .card-button {
    height: 10rem;
    &#state-card {
      border: none;
      box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
    }
    & .card {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}
