<h2 class="title">Dashboard</h2>
<!-- Schedule -->
<div class="subtitle-wrapper flex flex-ai-e">
  <h4 class="subtitle">Schedule des Praktikums |</h4>
  <p> in 3 Wochen</p>
</div>
<div class="chart-wrapper">
  <div class="gantt-chart">
    <app-gantt-chart></app-gantt-chart>
  </div>
  <div class="doughnut-chart">
    <app-doughnut-chart></app-doughnut-chart>
  </div>
</div>
<!-- Status des Bewerber  -->
<div class="subtitle-wrapper flex flex-ai-e">
  <h4 class="subtitle">Bewerber/innen |</h4>
  <p> in jeden Status</p>
</div>
<div class="card-wrapper flex flex-jc-sb flex-ai-e">
  <div class="card-button" id="state-card" *ngFor="let card of stateCards">
    <a class="card" (click)="getState(card.state)">
      <div class="card-count title">{{ card.number }}</div>
      <div class="card-title subtitle">{{ card.state }}</div>
    </a>
  </div>
</div>
