@import '../../styles/styles.scss';

.subtitle-wrapper {
  margin: 2rem 0.5rem 1.25rem 0;
  & p {
    margin-left: 0.3rem;
  }
}
.chart-wrapper {
  margin-bottom: 2rem;
}
.card-wrapper {
  gap: 2rem;
  & .card-button {
    height: 10rem;
    & .card {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      & .card-title {
        margin-top: 1rem;
        text-align: center;
      }
    }
  }
}

@media only screen and (max-width: 1728px) {
  .subtitle-wrapper {
    margin-top: 1rem;
  }
  .chart-wrapper {
    margin-bottom: 1rem;
  }
  .card-wrapper {
    & .card-button {
      height: 8rem;
    }
  }
}
