<h2 class="title">Document</h2>
<div class="subtitle-wrapper flex flex-ai-e">
  <h4 class="subtitle">Text erstellen |</h4>
  <p> für {{ textType || '\<Texttyp>' }}</p>
</div>
<app-progress>
  <!-- step 1 -->
  <app-progress-step>
    <app-document-step
      [stepTitle]="'Auswählen den Texttyp'"
      [stepIndex]="1">
    </app-document-step>
    <div class="button-wrapper flex flex-jc-sb mt-1 mb-1">
      <button class="card-button subtitle" (click)="setTextType('Zusage')" progressStepNext>Zusage E-Mail</button>
      <button class="card-button subtitle" (click)="setTextType('Absage')" progressStepNext>Absage E-Mail</button>
      <button class="card-button subtitle" (click)="setTextType('Platz angenommen')" progressStepNext>Zeitplan E-Mail</button>
      <button class="card-button subtitle" (click)="setTextType('Im Praktikum')" progressStepNext>Zeugnis</button>
    </div>
  </app-progress-step>
  <!-- step 2 -->  
  <app-progress-step>
    <app-document-step
      [stepTitle]="'Auswählen einen Schüler/in'"
      [stepIndex]="2"
      [stepType]="textType"
      [studentsList]="studentsList"
      (selectedStudent)="curStudent">
    </app-document-step>
    <div class="button-wrapper flex flex-jc-sb">
      <button progressStepPrev class="square-basic-button"><i class="fa-solid fa-arrow-left"></i>LETZTE</button>
      <button progressStepNext class="square-color-button">NÄCHSTE<i class="fa-solid fa-arrow-right"></i></button>
    </div>    
  </app-progress-step>
  <!-- step 3 -->
  <app-progress-step>
    <app-document-step
      [stepTitle]="'Hinzufügen Betreff und den Zusatz in content'"
      [stepIndex]="3">
    </app-document-step>
    <div class="button-wrapper flex flex-jc-sb">
      <button progressStepPrev class="square-basic-button"><i class="fa-solid fa-arrow-left"></i>LETZTE</button>
      <button progressStepNext class="square-color-button">NÄCHSTE<i class="fa-solid fa-arrow-right"></i></button>
    </div>    
  </app-progress-step>
  <!-- step 4 -->
  <app-progress-step>
    <app-document-step
      [stepTitle]="'Überprüfen den fertigen Text'"
      [stepIndex]="4">
    </app-document-step>
    <div class="button-wrapper flex flex-jc-sb">
      <button progressStepPrev class="square-basic-button"><i class="fa-solid fa-arrow-left"></i>LETZTE</button>
      <button progressStepNext class="square-color-button" (click)="stepFunction()">SEND <i class="fa-solid fa-arrow-right"></i></button>
    </div>    
  </app-progress-step>
  <!-- step 5 -->
  <app-progress-step>
    <h4 class="subtitle">E-Mail erfolgreich gesendet.</h4>
    <div class="button-wrapper flex flex-jc-sb">
      <button progressStepPrev class="square-basic-button" (click)="goFirst()"><i class="fa-solid fa-arrow-left"></i>ZÜRUCK AM ANFANG</button>
    </div>
  </app-progress-step>
</app-progress>
