<h2 class="title">Document</h2>
<div class="subtitle-wrapper flex flex-ai-e">
  <h4 class="subtitle">Text erstellen |</h4>
  <p> für Zusage an Student</p>
</div>
<app-progress>
  <app-progress-step>
    <h1>step 1</h1>
    <button progressStepNext>next</button>
  </app-progress-step>
  <app-progress-step>
    <h1>step 2</h1>
    <button progressStepPrev>previous</button>
    <button progressStepNext>next</button>
  </app-progress-step>
  <app-progress-step>
    <h1>step 3</h1>
    <button progressStepPrev>previous</button>
    <button progressStepNext>next</button>
  </app-progress-step>
</app-progress>
