@import '../../styles/styles.scss';

.subtitle-wrapper {
  margin: 2rem 0.5rem 1.25rem 0;
  & p {
    margin-left: 0.3rem;
  }
}
.button-wrapper {
  width: 100%;
  column-gap: 1.5rem;
  margin-top: 1rem;
}
.form-wrapper {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1rem 2rem;
  margin-top: 1rem;
}
.form {
  position: relative;
  width: 100%;
  height: 3rem;
  &:nth-child(4), &:nth-child(5){
    grid-column: 1 / 4;
  }
  &-input {
    // position: absolute;
    // top: 0;
    // left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #a9a9a9;
    border-radius: 0.5rem;
    font-family: inherit;;
    font-size: inherit;
    color: #1b1c1d;
    outline: none;
    padding-left: 1.25rem;
    // padding: 1.25rem;
    background: none;
    transition: all 160ms ease-in;
    &:hover {
      border-color: $primary;
    }
    &:focus {
      border-color: $primary;
    }
  }
  &-label {
    position: absolute;
    left: 1rem;
    top: 0.85rem;
    padding: 0 0.5rem;
    
    color: #1b1c1d;
    cursor: text;
    transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;   
    background-color: #fff;
  }
}
.form-input:focus ~ .form-label, 
.form-input:not(:placeholder-shown).form-input:not(:focus) ~ .form-label{
  top: -0.5rem;
  font-size: 0.75rem;
  left: 0.8rem;
}
