<div [ngSwitch]="templateInfo.type">
  <div id="pass" *ngSwitchCase="'Zusage'">
    <p>Hallo <em><strong>{{ templateInfo.name || 'Scüler/in' }}</strong></em>,</p>
    <p>vielen Dank für deine Bewerbung und dein Interesse an einem Praktikum bei uns.</p>
    <p>Hiermit möchte ich dir eine Zusage für dein Praktikum vom <em><strong>{{ templateInfo.startDatum || 'Start Datum' }}</strong></em> bis zum <em><strong>{{ templateInfo.endDatum || 'End Datum' }}</strong></em> erteilen.</p>
    <p>Ich möchte mich auch noch kurz vorstellen: <em><strong>{{ templateInfo.betreuer || 'Bereuer/in'}}</strong></em></p>          
    <span>
      Ein Praktikum bei uns ist sehr abwechslungsreich und du wirst viele verschiedene Einblicke erhalten können. Unsere Praktika finden in Hybrider Form statt. Unter https://www.informatik.rwth-aachen.de/cms/informatik/Studium/Infos-fuer-Schuelerinnen-und-Schueler/~nmbv/Schulpraktikum/ kannst du mehr darüber erfahren, was dich in dem Praktikum erwartet. Einen genauen Plan, welche Tage vor Ort und welche im Homeoffice erfolgen und was dich an den einzelnen Tagen erwartet, wirst du ca. eine Woche vor Beginn deines Praktikums erhalten. Die Arbeitszeit ist täglich von 9 Uhr bis ca. 16 Uhr, inkl. 1h Pause.
      Alle Materialien für das Praktikum sowie alle Ergebnisse, welche du während deines Praktikums erarbeitest, werden wir in einem Google Drive sammeln. Den Zugang hierzu bekommst du an deinem ersten Praktikumstag.
      An vielen Schulen gibt es ein Formular, welches von dem Praktikumsbetrieb auszufüllen ist. Wenn es das bei dir auch gibt, dann kannst du mir dieses gerne direkt als Scan schicken und du bekommst das ausgefüllte Formular direkt per Mail von mir zurück.
    </span>
    <p>Bei Fragen kannst du dich gerne jederzeit bei mir melden.</p>
    <p>Bitte gebe mir eine kurze Rückmeldung, ob du den Praktikumsplatz annimmst.</p>
    <br>
    <p>Viele Grüße</p>
    <p><em><strong>{{ templateInfo.betreuer || 'Bereuer/in' }}</strong></em></p>
  </div>
  <div *ngSwitchCase="'Absage'">
    <p>Hallo <em><strong>{{ templateInfo.name || 'Scüler/in' }}</strong></em>,</p>
    <p>vielen Dank für deine Bewerbung und dein Interesse an einem Praktikum bei und. Leider können wir dir im Zeitraum vom <em><strong>{{ templateInfo.startDatum || 'Start Datum' }}</strong></em> bis zum <em><strong>{{ templateInfo.endDatum || 'End Datum' }}</strong></em> keinen Praktikumsplatz anbieten, da Grund.</p>
    <p>Ich wünsche dir alles Gute und viel Erfolg bei der Suche nach einem Praktikumsplatz!</p>
    <br>
    <p>Viele Grüße</p>
    <p><em><strong>{{ templateInfo.betreuer || 'Bereuer/in' }}</strong></em></p>
  </div>
  <div *ngSwitchCase="'Zeitplan'">
    <p>Hallo <em><strong>{{ templateInfo.name || 'Scüler/in' }}</strong></em>,</p>
    <p>Hier ist deinen Zeitplan,</p>
    <textarea></textarea>
    <br>
    <p>Viele Grüße</p>
    <p><em><strong>{{ templateInfo.betreuer || 'Bereuer/in' }}</strong></em></p>
  </div>
  <div *ngSwitchCase="'Zeugnis'">
    <p>Praktikumszeugnis für <em><strong>{{ templateInfo.name || 'Scüler/in' }}</strong></em></p>
    <p><em><strong>{{ templateInfo.name || 'Scüler/in' }}</strong></em>, geboren am <em>Geburtsdatum</em> hat vom <em><strong>{{ templateInfo.startDatum || 'Start Datum' }}</strong></em> bis <em><strong>{{ templateInfo.endDatum || 'End Datum' }}</strong></em> <em>sein/ihr</em> Schülerpraktikum in hybrider Form in der Fachgruppe Informatik der RWTH Aachen, vertreten durch <em>`Anbieter`</em>, absolviert. <em>`Vorstellung Anbieter`</em></p>
    <p><em><strong>{{ templateInfo.name || 'Scüler/in' }}</strong></em> hat in <em>seinem/ihrem</em> Praktikum einen Einblick in die Tätigkeiten von wissenschaftlichen Mitarbeitenden im Bereich Informatik erhalten. <em>Beschreibung der Aufgaben</em></p>
    <p><em><strong>{{ templateInfo.name || 'Scüler/in' }}</strong></em> arbeitete <em>Bewertung</em> motiviert und <em>Bewertung</em> selbstständig. <em>Seine/Ihre</em> Aufgaben erfüllte <em>er/sie</em> <em>Bewertung</em> Zufriedenheit. <em>Er/Sie</em> war <em>Bewertung</em> pünktlich und <em>Bewertung</em> zuverlässig.</p>
    <p>Ganz besondere Anerkennung erhält <em><strong>{{ templateInfo.name || 'Scüler/in' }}</strong></em> für <em>Aufgabe</em>.</p>
    <p>Wir danken <em><strong>{{ templateInfo.name || 'Scüler/in' }}</strong></em> außerordentlich für <em>seine/ihre</em> tolle Unterstützung während <em>seines/ihres</em> Praktikums und wünschen <em>ihm/ihr</em> für <em>seinen/ihren</em> weiteren Werdegang viel Erfolg.</p>
  </div>
</div>


<!-- <div>
  <div class="ql-container ql-bubble" style="border-width: 0;">
    <div style="width: 100%" class="ql-editor" [innerHTML]="byPassHTML(form.get('template')?.value)"></div>
  </div>
</div> -->


<!-- <div class="button-wrapper flex flex-jc-sb">
  <button progressStepPrev class="square-basic-button"><i class="fa-solid fa-arrow-left"></i>LETZTE</button>
  <button progressStepNext class="square-color-button" (click)="sendTemplate($event)">NÄCHSTE<i class="fa-solid fa-arrow-right"></i></button>
</div> -->

<!-- <form [formGroup]="form">
  <quill-editor format="html" theme="bubble" formControlName="template"></quill-editor>
</form> -->
