<div class="chart-wrapper">
  <div class="gantt-chart" > <!-- chartBox -->
    <canvas id="schedule" baseChart
    (click)="scheduleClick($event)">{{ barChart }}</canvas>
    <div class="button-wrapper">
      <button class="time-button" (click)="timeFrame('week')">Week</button>
      <button class="time-button" (click)="timeFrame('month')">Month</button>
      <button class="time-button" (click)="timeFrame('year')">Year</button>
    </div>
  </div>
  <div class="doughnut-chart">
    <canvas id="state" baseChart
    (click)="stateClick($event)">{{ barChart }}</canvas>
    <div class="input-wrapper" [ngSwitch]="button">
      <div *ngSwitchCase="'default'">
        <button class="edit-item" id="updateChart" (click)="updateChart()">Update</button>
      </div>
      <div *ngSwitchCase="'edit'">
        <input class="edit-text" type="number" id="value1" [(ngModel)]="editCountProcess" placeholder="Im Prozess">
        <input class="edit-text" type="number" id="value2" [(ngModel)]="editCountFree" placeholder="Freie Praktikum">
        <button class="edit-item" id="updateChart" (click)="updateChart()">Update</button>
      </div>
    </div>
  </div>
</div>
