<h4 class="subtitle">{{ stepTitle }}</h4>
<section class="form-wrapper" *ngIf="stepIndex!==1">
    <div class="form" *ngIf="!curInfo.name">
      <input type="text" id="email" list="selectStudent" class="form-input" placeholder=" " (change)="onStudentChange($event)">
      <datalist id="selectStudent">
        <option *ngFor="let student of students" [value]="student.name">{{ student.name }}</option>
      </datalist>
      <label for="email" class="form-label big-label">Schüler/in</label>
    </div>
    <div class="form"  *ngIf="curInfo.name">
      <input id="email" class="form-input" placeholder=" " [(ngModel)]="curInfo.name" >
      <label for="email" class="form-label big-label">Schüler/in</label>
    </div>
  <div class="form">
    <input id="startDatum" class="form-input" placeholder=" " [(ngModel)]="curInfo.startDatum" >
    <label for="startDatum" class="form-label big-label">Startdatum</label>
  </div>
  <div class="form">
    <input id="endDatum" class="form-input" placeholder=" " [(ngModel)]="curInfo.endDatum">
    <label for="endDatum" class="form-label big-label">Enddatum</label>
  </div>
  <div class="form">
    <input type="text" id="title" class="form-input" placeholder=" " [(ngModel)]="curInfo.title">
    <label for="title" class="form-label para-text">Betreff hinzufügen</label>
  </div>
  <div class="form">
    <form [formGroup]="form">
      <quill-editor format="html" theme="bubble" [(ngModel)]="curInfo.content" [ngModelOptions]="{standalone: true}"></quill-editor>
    </form>
  </div>
</section>
<div class="button-wrapper flex flex-jc-sb">
  <button progressStepPrev class="square-basic-button"><i class="fa-solid fa-arrow-left"></i>LETZTE</button>
  <button progressStepNext class="square-color-button">NÄCHSTE<i class="fa-solid fa-arrow-right"></i></button>
</div>
